<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">

<form #signUp="ngForm" (ngSubmit)="onSignUp(signUp)">
  <div ngModelGroup="userInfo" #userInfo="ngModelGroup">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label for="username"><strong>UserName*</strong></label>
          <input 
          required
          name="username"
          ngModel
          #username="ngModel" type="text"
        pattern="[a-zA-Z]+"
          class="form-control" id="username">
    
          <ng-container *ngIf="username.invalid && userInfo.touched">
            <span class="text-danger" 
          *ngIf="username.touched  && username.hasError('required')">
            UserName is required field.
          </span>
                 <span class="text-danger" 
          *ngIf="username.dirty && username.hasError('pattern')">
            UserName should not include special characters and symbols.
          </span>
          </ng-container>
          </div>
      
        <div class="form-group">
          <label for="email"><strong>Email*</strong></label>
          <input 
          required
          name="email"
          ngModel pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9,-]+\.[a-zA-Z]{2,}"
          #email="ngModel" type="text" class="form-control" id="username">
          <ng-container *ngIf="username.invalid">
            <span class="text-danger" 
          *ngIf="email.touched  && email.hasError('required')">
            Email is required field.
          </span>
                 <span class="text-danger" 
          *ngIf="email.dirty && email.hasError('pattern')">
           Invalid Email .
          </span>
          </ng-container>
        </div>
      
        <p class="alert alert-danger" *ngIf="userInfo.invalid && userInfo.touched">
          UserInfo Error
        </p>
        <div class="form-group">
          <label for="secretque"><strong>Secret Question*</strong></label>
          <select ngModel #secretque="ngModel" required
          class="form-control" name="secretque" id="secretque">
            <option value="book">Favourite Book</option>
            <option value="sport">Favourite sport</option>
          </select>
        </div>
    
        <div class="form-group">
          <label for="answer"><strong>Answer*</strong></label>
          <input ngModel #answer="ngModel" name="answer"
          type="text" class="form-control">
        </div>
    
        <div class="form-group">
          <label for="subscribe">
            <input type="checkbox" ngModel #subscribe="ngModel" name="subscribe">
             Subscribe for daily Email
          </label>
        </div>
    
        <div class="form-group" *ngFor="let moc of mocArr">
          <label [for]="moc.contactmode">
            <input type="radio" ngModel #moc="ngModel" [value]="moc.contactmode"
            name="modeofcontact" [id]="moc.contactmode">{{moc.contactmode}}
                </label>
        </div>
    
        <!-- <div class="form-group">
          <label for="moc-phone">
            <input type="radio" ngModel value="phone"
             name="modeofcontact" id="moc-phone">
                phone</label>
        </div> -->
    
        <div class="text-right">
          <button type="submit" class="btn btn-success">SignUp</button>
          <button type="button" class="btn btn-primary mr-4" (click)="onEdit()">Edit</button>
        </div>
      </div>
    </div>
  </div>

 
</form>
    </div>
  </div>
</div>